<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-condensed">
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "allhousenum", "Street Address" %></th>
      <th><%= sortable "email" %></th>
      <th><%= sortable "last_payment", "Last Payment" %></th>
      <th><%= sortable "amt", "Amount" %></th>
      <th><%= sortable "paid_thru", "Expires" %></th>
    </tr>
  <% @members.each do |member| %>
    <tr>
      <td><%= link_to member.name, member %></td>
      <td><%= member.allhousenum %></td>
      <td><%= member.email %></td>
      <td><%= member.last_payment %></td>
      <td><%= member.amt %></td>
      <td><%= member.paid_thru %></td>
  <% end %>
</table>
<%= will_paginate @members %>