<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= sortable "id", "ID" %></th>
      <th><%= sortable "name" %></th>
      <th><%= sortable "street_address", "Street Address" %></th>
      <th><%= sortable "email" %></th>
      <th><%= sortable "last_payment_date", "Last Payment" %></th>
      <th><%= sortable "amt", "Amount" %></th>
      <th><%= sortable "paid_thru", "For Renewal On" %></th>
      <th><%= sortable "notes", "Notes" %></th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.id %></td>
        <td><%= link_to member.name, edit_member_path(member) %></td>
        <td><%= link_to_google_maps member.street_address %></td>
        <td><%= mail_to member.email %></td>
        <td><%= member.last_payment_date %></td>
        <td><%= number_to_currency member.amt %></td>
        <td><%= member.paid_thru %></td>
        <td><%= member.notes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @members %>
