
<p>Name: <%= @member.name %></p>
<p>Street Address: <%= @member.allhousenum</p>

<p>Email: <%= @member.email</p>
<p>Phone: <%= @member.phone</p>

<p>First Joined: <%= @member.joined %></p>
<p>Last Updated: <%= @member.updated %></p>
<p>Last Payment: <%= @member.last_payment %></p>
<p>Amount: <%= @member.amt %></p>
<p>Expires: <%= @member.paid_thru %>
