<h3>Update Member</h3>

<%= form_for(@member) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <%= render 'fields', f: f %><br />
    <%= f.submit "Save changes", class: "btn btn-primary" %>
<% end %>
  </div>
<div>
	<p>Street Name: <%= @member.street_name %></p>
	<p>City/State/Zip: <%= @member.citystzip %> </p>
	<p>Notes: <%= @member.notes  %></p>
	<p>Status: <%= @member.status  %></p>
	<p>Auto Status: <%= @member.auto_status  %></p>
	<p>Street: <%= @member.street %> </p>
	<p>Apt No: <%= @member.aptno %> </p>
	<p>Moved: <%= @member.moved %></p>
	<p>St: <%= @member.st %></p>
	<p>House #: <%= @member.hsenum %></p>
	<p>Block #: <%= @member.blknum %> </p>
	<p>POS: <%= @member.pos  %></p>
	<p>Who: <%= @member.who  %></p>
	<p>DISC: <%= @member.disc %> </p>
	<p>Transdate: <%= @member.transdate %> </p>
	<p>Use: <%= @member.use %></p>
	<p>Site Misc: <%= @member.site_misc %></p>
	<p>SEC: <%= @member.sec %> </p>
	<p>Copy: <%= @member.copy  %></p>
	<p>Block: <%= @member.blk %> </p>
	<p>Side: <%= @member.side %> </p>
	<p>Multi: <%= @member.multi %></p>
	<p>Even/Odd: <%= @member.evenodd %></p>
	<p>ON: <%= @member.on %> </p>
	<p>REF: <%= @member.ref  %></p>
	<p>PLUS: <%= @member.plus  %></p>
	<p>Parcel ID: <%= @member.parcel_id %> </p>
	<p>Own/Rent: <%= @member.own_rent %> </p>
	</div>
