<h1>All members</h1>
     
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>House</th>
    </tr>
  </thead>
  <tbody>
  <% @members.each do |member| %>
    <tr>
      <td><%= member.name %></td>
      <td><%= member.email %></td>
      <td><%= member.allhousenum %></td>
  <% end %>
  </tbody>
</table>
<%= will_paginate @members %>
</div>
<h2>Import Products</h2>

<%= form_tag import_members_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
<div>
<%= link_to "Download CSV", members_path(format: "csv") %>
</div>

