<h3>Member</h3>
<p>Name: <%= @member.name %></p>
<p>Street Address: <%= @member.allhousenum %> </p>
<p>Email: <%= @member.email  %></p>
<p>Phone: <%= @member.phone  %></p>

<p>First Joined: <%= @member.join %> </p>
<p>Last Payment: <%= @member.last_payment %> </p>
<p>Amount: <%= @member.amt %></p>
<p>Expires: <%= @member.paid_thru %></p>

<%= link_to "Edit", edit_member_path(@member) %>

